http://{$PUBLIC_HOST} {
	redir https://{$PUBLIC_HOST}{uri} permanent
}

https://{$PUBLIC_HOST} {
	tls internal

	@api path /api/*
	reverse_proxy @api backend_api:8080

	@authApi path /auth-api/*
	handle @authApi {
		uri strip_prefix /auth-api
		reverse_proxy backend_auth_api:8080
	}

	@keycloak path /realms* /resources* /admin* /js/* /robots.txt
	reverse_proxy @keycloak keycloak:8080

	reverse_proxy frontend:80
}
